:root{
    --selected-color: red;
}

body, html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #171717;
    color: white;
}

main{
    width: 380px;
    height: 260px;
    background-color: var(--selected-color);
    color: white;
    border-radius: 15px;
}

.hello{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.25em;
    letter-spacing: .15em;
    margin: 0;
}

.my-name-is{
    font-weight: 200;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 15px;
}

.first-try{
    text-decoration: line-through;
}

name-section{
    background-color: white;
    color: black;
    font-family: cursive;
    height:90px;
    width: 100%;
    font-size: 2.5em;
}


.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-selector{
    padding: 50px;
    display: inline;
    align-items: space-evenly;

}
.color{
    height: 50px;
    width: 50px;
    border: 0;
    background-color: var(--selected-color);
}

.pink{
    background-color: pink;
}

.light-blue{
    background-color: lightblue;
}

.light-green{
    background-color: lightgreen;
}

.red{
    background-color: red;
}

.body-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

button{
    background-color: var(--selected-color);
    color: white;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px white;
    border: 0px;
    outline: 0px;
    }

button:active{
    box-shadow: 0px .5px white;
}


input{
    font-size: 1.5em;
}

h2{
    margin: 8px;
}
